<nav>
  <a href="/">Главная</a>
  <a href="/project">Проекты</a>
  <a href="/team">Команда</a>
  <a href="/news">Новости</a>
  <a href="/achievments">Достижения</a>
  <a href="/contact">Контакты</a>
</nav>