<div class="navbar-fixed">
  <nav class="blue-grey darken-3">
    <div class="nav-wrapper blue-grey darken-3 container">
      <a href="/" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Главная</a></li>
        <li><a href="/project">Проекты</a></li>
        <li><a href="/team">Команда</a></li>
        <li><a href="/news">Новости</a></li>
        <li><a href="/achievments">Достижения</a></li>
        <li> <a href="/contact">Контакты</a></li>
        <li> <a href="/vacancy">Вакансии</a></li>
      </ul>
    </div>
  </nav>
</div>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/">Главная</a></li>
  <li><a href="/project">Проекты</a></li>
  <li><a href="/team">Команда</a></li>
  <li><a href="/news">Новости</a></li>
  <li><a href="/achievments">Достижения</a></li>
  <li> <a href="/contact">Контакты</a></li>
  <li> <a href="/vacancy">Вакансии</a></li>
</ul>