<form class="form">
  <h1>Создать проект</h1>
  <label>Введите название</label>
  <p><input></p>
  <label>Введите описание</label>
  <p><input></p>
  <label>Введите текст проекта(поддерживаются html теги)</label>
  <p><textarea></textarea></p>
  <button>Создать</button>
</form>
<script src="http://127.0.0.1:9000/createProject.js"></script>