<form class="form">
  <h1>Создать пользователя</h1>
  <label>Введите имя</label>
  <p><input id="name" name="name" type="text"></p>
  <label>Введите фамилию</label>
  <p><input id="family" name="family" type="text"></p>
  <label>Введите описание</label>
  <p><input id="description" name="description" type="text"></p>
  <label>Введите должность</label>
  <p><input id="position" name="position" type="text"></p>
  <label>Введите email</label>
  <p><input id="email" name="email" type="email"></p>
  <label>Введите пароль</label>
  <p><input id="password" name="password" type="password"></p>

  <button>Создать</button>
</form>
<script src="http://127.0.0.1:9000/createUser.js"></script>