<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Панель управления</title>
</head>

<body>
  <h1>Панель управления</h1>
  <p>Супер секретная информация</p>
  <a href="/admin/project">Созадть Проект</a>
  <a href="/admin/news">Созадть Новость</a>
  <a href="/admin/user">Добавить участника</a>



</html>