<h1>Панель управления</h1>

<p>Супер секретная информация</p>
<div class="card-panel z-depth-0">
  <a class="btn blue-grey darken-3 waves-effect" href="admin/project">Проекты</a>
  <a class="btn blue-grey darken-3 waves-effect" href="admin/news">Новости</a>
  <a class="btn blue-grey darken-3 waves-effect" href="admin/user">Участники</a>
  <a class="btn blue-grey darken-3 waves-effect" href="admin/vac">Заявки</a>

</div>