<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Контакты</title>
</head>

<body>
  <h1> Наши контакты</h1>
  <ul class="collection z-depth-1">
    <li class="collection-item">г. Уфа</li>
    <li class="collection-item">email: prokshin99@yandex.ru</li>
    <li class="collection-item">telegram: +7 999 133 95 73</li>

  </ul>

</body>

</html>