<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Новости</title>
</head>

<body>
  <div class="project-text">

    <h1>Новости</h1>
    <div class="row">

      {{#each news}}


      <div class="col s12 m12">
        <div class="card ">
          <div class="card-content ">
            <span class="card-title">{{this.title}}</span>
            <p>{{this.date}}</p>
            <p>{{this.description}}</p>
            <hr>
            <p>{{this.text  }}</p>
          </div>

        </div>
      </div>
      {{/each}}
    </div>
  </div>
</body>

</html>