<!DOCTYPE html>
<html>

<head>
  <title>Наши проекты</title>
  <meta charset="utf-8" />
</head>

<body>
  <h1>Наши Проекты</h1>
  {{#each projects}}
  <h2><a href="/project/{{this._id}}">{{this.title}}</a></h2>
  <p>{{this.description}}</p>
  <hr>
  {{/each}}
</body>
<html>