<!DOCTYPE html>
<html>

<head>
  <title>Наши проекты</title>
  <meta charset="utf-8" />
</head>

<body>
  <h1>Наши Проекты</h1>
  <div class="row">
    {{#each projects}}


    <div class="col s12 m6">
      <div class="card red">
        <div class="card-content white-text">
          <span class="card-title">{{this.title}}</span>
          <p>{{this.description}}</p>


        </div>
        <div class="card-action ">
          <a class="white-text" href="/project/{{this._id}}">Подробнее</a>
        </div>

      </div>
    </div>

    {{/each}}
  </div>
</body>
<html>