<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta charset="utf-8" />
</head>

<body>
  <div class="project-text">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <hr>
    {{{text}}}
  </div>
</body>
<html>