<!DOCTYPE html>
<html>

<head>
  <title>Наши команда</title>
  <meta charset="utf-8" />
</head>

<body>
  <h1>Наша Команда</h1>
  <div class="row">
    {{#each team}}

    <div class="col s12 m4">
      <div class="card">
        <div class="card-content ">
          <span class="card-title"><a href="/team/{{this._id}}">{{this.name}} {{this.family}}</a></span>
          <p>{{this.position}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</body>
<html>