<!DOCTYPE html>
<html>

<head>
  <title>Наши команда</title>
  <meta charset="utf-8" />
</head>

<body>
  <h1>Наша Команда</h1>
  {{#each team}}
  <h2><a href="/team/{{this._id}}">{{this.name}} {{this.family}}</a></h2>
  <p>{{this.position}}</p>
  <hr>
  {{/each}}
</body>
<html>