<div class="project-text">

  <form class="form" method="post" enctype="multipart/form-data" action="/vacancy">
    <h1>Вакансии</h1>
    <p>Если вы хотите работать у нас, отправьте резюме с помощью формы</p>
    <label>Ваше имя</label>
    <input type="text" name="name">
    <label>Email</label>
    <input type="email" name="email">
    <label>Желаемая должность</label>
    <input type="text" name="position">
    <label>Прикрепите ваше резюме в формате docx</label>
    <input type="file" name="filedata" /><br><br>
    <input type="submit" value="Send" />
  </form>
</div>